# Vagrant files
.vagrant/
*.log
*.vmdk
*.iso
# VM-specific files
*.box

# Backup files
*.bak
*~

# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE files
.idea/
.vscode/
*.sublime-*

# Temporary files
*.swp
*.swo

# Logs and databases
*.log
*.sql
*.sqlite